# DJANGO
SECRET_KEY=your_django_secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# STRIPE
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret

# MTN MOMO
MTN_MOMO_SUBSCRIPTION_KEY=your_mtn_subscription_key
MTN_MOMO_API_USER=your_mtn_api_user
MTN_MOMO_API_KEY=your_mtn_api_key

# AIRTEL
AIRTEL_CLIENT_ID=your_airtel_client_id
AIRTEL_CLIENT_SECRET=your_airtel_client_secret